body{
    background: rgb(177, 167, 167);
}
h1{
    font-size: 60px;
    color: black;
    text-align: center;
}
p{
    font-size: 50px;
    color: rgb(18, 19, 18);
    text-align: justify;
    margin-left: 200px;
}
img{
    width: 300px;
    height: 300px;
    margin: 60px;
    margin-left: 200px;
    margin-top: 200px;
}
.logo_dcabecalho{
    width: 170px;
    margin-left:50px;
    margin-top: 30px;
    height: 120px;

}
.cabecalho{
    background-color: rgb(234, 235, 235);
}
.lista_cabecalho{
    display: flex;
    margin-left: 370px;
}
.item_lista_cabecalho{
    color: brown;
    list-style: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 15px;
    margin-left: 110px;
    